@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

:root {
    --widthBoxHeader: 150px;
}

body {
    background-color: rosybrown;
}

.main-content {

    margin: 0 auto;
    width: 1050px;
    height: 1000px;
    border:  1px solid #dfdfdf;
    background-color: #ececeb;

}

.header {

    border-bottom: 0.1px solid black;
    height: 120px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px 0px 30px;
    

}

.content_left {

    height: 50px;
    width: var(--widthBoxHeader);
    border: 1px solid black;


}

.content_left p {
    font-size: 12px;
    padding: 5px;
    margin: 0px;
}

.main_title {

  
    font-family: 'UnifrakturMaguntia', cursive;
}

.main_title p {
    align-items: center;
    display: flex;
    font-size: 65px;
}


.content_right {

    height: 50px;
    font-size: 12px;
    width: var(--widthBoxHeader);

}
.content_right p {
    margin: 0px;
}

.content_right h4 {

    margin: 0px;

}


.navegation {

    border-bottom: 0.1px solid black;
    height: 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 10px;
    padding: 20px;
    border-bottom: 1px solid black;

}