@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Oswald:wght@400;700&display=swap');
:root {
    --widthBoxHeader: 150px;
}

body {
    background-color: rosybrown;
}

.main-content {

    margin: 0 auto;
    width: 1050px;
    height: 1500px;
    border:  1px solid #dfdfdf;
    background-color: #ececeb;

}

.header {

    border-bottom: 0.1px solid black;
    height: 120px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 60px 60px 0px 60px;

}

.content_left {

    height: 50px;
    width: var(--widthBoxHeader);
    border: 1px solid black;


}

.content_left p {
    font-size: 12px;
    padding: 5px;
    margin: 0px;
}

.main_title {

    font-family: 'UnifrakturMaguntia', cursive;
}

.main_title p {
    align-items: center;
    display: flex;
    font-size: 55px;
}


.content_right {

    height: 50px;
    font-size: 12px;
    width: var(--widthBoxHeader);

}
.content_right p {
    margin: 0px;
}

.content_right h4 {

    margin: 0px;

}


.navegation {

    border-bottom: 0.1px solid black;
    height: 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px 10px;
    padding: 20px;
    border-bottom: 1px solid black;

}
.navegation_text3 {

    font-weight: bold;

}
.navegation_text5 {

    font-style: italic;

}

.content-mainTitle {

    position: relative;
    bottom: 35px;
    border-bottom: 1px solid black;
    justify-content: center;
    margin: 0px 60px 0px;
    padding: 0px;

}

.content-mainTitle p {

    height: 170px;
    margin: 0;
    font-size: 128px;
    font-family: 'Oswald', sans-serif;

}

.content-mainSubtitle {

    position: relative;
    bottom: 35px;
    justify-content: center;
    margin: 0px 60px 0px;
    padding: 0px;
}

.content-mainSubtitle p {

    height: 163px;
    margin: 0;
    text-align: center;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;

}





.content_main-image {

    position: relative;
    top: -120px;
    height: 500px;
    margin: 0px 60px 0px 60px;
    display: flex;

}

.main_image {

  width: -webkit-fill-available;
  
}


