/* -------------------------------------------

styles for mobile: 375px 

------------------------------------------- */


.main-content {

    height: 340vmax;
    width: min-content;

}

.content_left {

    padding: 8px;

}

.content_right {

    bottom:  232px;
    left: 410px;
    position: relative;

}

.content_parrafo {

    height: 415px;
    margin: 20px 15px 0px 15px;

}

.content_parrafo p {

    margin: 10px;

}

.content_parrafo-text {

    display:inline-block;

}

.footer {

    margin: 45px 0px 0px;

}

.navegation {

    display: inline-table;
    width: -webkit-fill-available;

}