@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Oswald:wght@400;700&display=swap');

/* Variables  */

:root {
    --widthBoxHeader: 150px;
    --borderBotton: 0.1px solid black;
}

body {

    box-sizing: border-box;

}

.main-content {

    border:  1px solid #dfdfdf; 
    background: linear-gradient(42deg, rgba(228,228,228,1) 26%, rgba(231,232,227,1) 52%, rgba(233,233,231,1) 69%, rgba(239,238,234,1) 82%);
    margin: 0 auto;
    box-shadow: inset 0 0 10px #000000;
    width: 1050px;
    height: 1450px;

}

/* ------------------------- HEADER ------------------------- */

.header {

    border-bottom: var(--borderBotton);
    height: 120px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 60px 60px 0px 60px;

}

.content_left {

    height: 50px;
    width: var(--widthBoxHeader);
    border: var(--borderBotton);

}

.content_left p {

    font-size: 12px;
    padding: 5px;
    margin: 0px;

}

.main_title {

    font-family: 'UnifrakturMaguntia', cursive;

}

.main_title p {

    align-items: center;
    display: flex;
    font-size: 55px;

}


.content_right {

    height: 50px;
    font-size: 12px;
    width: var(--widthBoxHeader);

}
.content_right p, .content_right h4 {

    margin: 0px;

}

/* ------------------------- NAVIGATION-MAIN TITLE AND SUBTITLE ------------------------- */

.navegation {

    height: 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px 10px;
    padding: 20px;
    border-bottom: var(--borderBotton);

}

.navegation_text3 {

    font-weight: bold;

}
.navegation_text5 {

    font-style: italic;

}

.content-mainTitle {

    position: relative;
    bottom: 35px;
    border-bottom: var(--borderBotton);
    justify-content: center;
    margin: 0px 60px 0px;
    padding: 0px;

}

.content-mainTitle p {

    height: 170px;
    margin: 0;
    font-size: 128px;
    font-family: 'Oswald', sans-serif;

}

.content-mainSubtitle {

    position: relative;
    bottom: 35px;
    justify-content: center;
    margin: 0px 60px 0px;
    padding: 0px;

}

.content-mainSubtitle p {

    height: 163px;
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;

}

/* ------------------------- MAIN IMAGE- SUBTITLE - PARAGRAPH ------------------------- */

.content_main-image {

    position: relative;
    bottom: 125px;
    height: 500px;
    margin: 0px 60px 0px 60px;
    display: flex;

}

.main_image {

  width: -webkit-fill-available;

}

.content-subtitle {

    position: relative;
    top: -170px;
    margin: 0px 60px 0px 60px;
    height: 80px;
    text-align: center;
    border-bottom: var(--borderBotton);
    font-family: 'Oswald', sans-serif;

}

.content-subtitle p {

    font-size: xxx-large;

}

.content_parrafo {

    position: relative;
    top: -170px;
    margin: 0px 60px 0px 60px;
    height: 270px;
    text-align: center;
    border-bottom: var(--borderBotton);

}

.content_parrafo-text {

    display: flex;
    text-align: justify;
    margin: 15px 0px 15px;

}

.content_parrafo-text p {

    padding-right: 12px;
    margin: 0;

}


h6 {

    text-align: center;
    margin: 15px 0px 15px;

}

/* ------------------------- FOOTER ------------------------- */

.footer {

    display: flex;
    justify-content:space-evenly;
    margin: 60px 0px 0px;

}